@import "./colors";
@import "./mixins";


.cart{
    h1{
        text-align: center;
        margin-top: 100px;
        font-size: 20px;
        font-weight: 600;
    }
}


.cartItem{
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 20px 20px 20px 20px 100px;
    height: 300px;
    line-height: 1.4;
        .countHandler{
            display: flex;
                input{
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border: 1px solid #e1e1e1;
                }
            button{
                width: 27px;
                height: 27px;
                border: 1px solid #e1e1e1;

            }    
            .row{
                display: flex;
                flex-direction: row;
            }
        }
        .description{
            display: flex;
                p{
                    margin: 50px 100px;
                    color:  $text;
                }
        }
        img{
            width: 120px;
            height: 120px;
        }
}

.checkOut{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
        p{
            color: $text;
        }
        button{
            margin-top: 20px;
            width: 15%;
            height: 50px;
            color: $websiteColor;
            border: 1px solid $websiteColor;
            font-size: 15px;
            font-weight: 600;
            background-color: $white;
            transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;;
        }

        button:hover{
            background-color: $websiteColor;
            color: $white;
        }
}
