@import "./colors";
@import "./mixins";

.nav_container {
  background-color: $white;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 100px 0 100px;

    a {
      text-decoration: none;
      color: $websiteColor;
    }

    ul li {
      padding: 10px;
    }
    .nav_menu {
      list-style: none;
      display: flex;
    }

    .logo {
      width: 100px;
      height: 100px;
      margin-left: 20px;
      height: 30px;
      width: 100%;
    }
  }
}

.carouselSlide {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper {
  --swiper-pagination-top: 90%;
  margin-bottom: 50px;

  img {
    max-width: 100%;
    width: 100%;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 8px;
    margin: 0 5px;
    width: 8px;
  }

  .swiper-pagination-bullet:hover {
    background-color: #333;
    border-color: #333;
    color: #fff;
  }
}

.title {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0 auto;
    font-size: 40px;
    color: $text;
    margin-bottom: 15px;
  }
  hr {
    width: 5%;
    margin-bottom: 130px;
  }
}

// .container {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//     .image_text{
//       display: flex;
//       margin-bottom: 100px;
//        p{
//         margin-top: 50px;
//         margin: 50px 80px 0 80px;
//         width: 20%
//        }
//     }

// }

.container {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // gap: 140px;
  .repeat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-bottom: 100px;
  }

  .center_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 100%;
      width: 100%;
    }
    .bottle {
      width: 85%;
    }
  }

  .left {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    h2 {
      font-size: 20px;
      font-family: cursive, sans-serif;
      margin-bottom: 15px;
      color: $websiteColor;
    }
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
      // font-family: catamaran, sans-serif;
      font-family: Cinzel, serif;
      color: $text;
    }
    p {
      margin-bottom: 15px;
      max-width: 100%;
      width: 80%;
      font-size: 18px;
      align-items: self-end;
      color: $text;
    }
  }
  .right {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 20px;
      font-family: cursive, sans-serif;
      margin-bottom: 15px;
      color: $websiteColor;
    }
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
      color: $text;
    }
    p {
      margin-bottom: 15px;
      max-width: 100%;
      color: $text;
    }
  }
}

.stick {
  @include stick;
}
@include circle;

.footer_container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(33, 30, 26);
  .footer_divs {
    color: $white;
    width: 300px;
    margin-top: 50px;
    line-height: 1.6;
    h6 {
      margin-top: 15px;
    }
    .send {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      h3 {
        margin-left: 10px;
      }
    }
    .location {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      h3 {
        margin-left: 10px;
      }
    }
    .envelope {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      h3 {
        margin-left: 10px;
      }
    }
    .global {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      h3 {
        margin-left: 10px;
      }
    }
    .socials {
      .icons {
        margin-right: 20px;
      }
    }
    p {
      margin-bottom: 20px;
    }
    .logo {
      width: 100px;
    }
    img {
      width: 80px;
      margin: 0 20px 20px 0;
    }
  }
}
