@import "./colors";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 15px 100px 15px 100px;
  .burgerMenu{
    color: $websiteColor;
    display: none;
  }

  a {
    text-decoration: none;
    color: $websiteColor;
    font-size: 18px;
    padding-top: 5px;
  }

  ul li {
    padding-right: 60px;
    padding-top: 5px;
  }
  .nav_menu {
    list-style: none;
    display: flex;
  }


  .logo {
    width: 100px;
    height: 100px;
    height: 30px;
    width: 100%;
  }
  .cart {
    margin-left: 100px;
  }
  .languageSwitcher {
    border: none;
    padding: 5px 15px;
    background-color: $Lswitch;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    margin-left: 30px;
    cursor: pointer;
  }
}

.dropdownMenu{
  display: none;
  position: absolute;
  top: 88px;
  right: 110px;
  z-index: 2;
  background-color: $white;
  width: 300px;
    &.show{
        display: block;
    }
  .languageSwitcher{
    align-items: center;
    margin: 20px 0;
    border: none;
    padding: 5px 15px;
    background-color: $Lswitch;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    margin: 10px auto 20px;
  }
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0 ;
      list-style: none;
        a{
          text-decoration: none;
          color: $text;
        }
    }

}



.Carousel-container {
  margin-bottom: 100px;
}

.carouselSlide {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    .carouselHeadline{
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 75px;
      width: 100%;
      text-align: center;
      font-family: cinzel;
    }
    .carouselText{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 20px;
      text-align: center;
    }
    .carouselButton{
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12%;
      height: 7%;
      background-color: transparent;
      color: $white;
      font-weight: 600;
      border: 1px solid white;
      transition: filter 0.3s ease-in-out;
    }
    .carouselButton:hover{
      background-color: $websiteColor;
      border: none;
    }
    

}

.mySwiper {
  --swiper-pagination-top: 90%;
  margin-bottom: 50px;

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 8px;
    margin: 0 5px;
    width: 8px;
  }

  .swiper-pagination-bullet:hover {
    background-color: #333;
    border-color: #333;
    color: #fff;
  }
}

.title {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0 auto;
    font-size: 40px;
    color: $text;
    margin-bottom: 15px;
  }
  hr {
    width: 5%;
    margin-bottom: 130px;
  }
}

.container {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // gap: 140px;
  .repeat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-bottom: 100px;
  }

  .center_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 100%;
      width: 100%;
    }
    .bottle {
      width: 85%;
    }
  }

  .left {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    h2 {
      font-size: 20px;
      font-family: cursive, sans-serif;
      margin-bottom: 15px;
      color: $websiteColor;
    }
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
      // font-family: catamaran, sans-serif;
      font-family: Cinzel, serif;
      color: $text;
    }
    p {
      margin-bottom: 15px;
      max-width: 100%;
      width: 80%;
      font-size: 18px;
      align-items: self-end;
      color: $text;
    }
  }
  .right {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    h2 {
      font-size: 20px;
      font-family: cursive, sans-serif;
      margin-bottom: 15px;
      color: $websiteColor;
    }
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
      color: $text;
    }
    p {
      margin-bottom: 15px;
      max-width: 100%;
      color: $text;
      width: 80%;
      font-size: 18px;
    }
  }
}

.stick {
  @include stick;
}
@include circle;

.footer_container {
  display: flex;
  justify-content: space-around;
  background-color: $footer;
  padding: 50px 20px 110px;

  .footer_divs {
    color: $white;
    width: 300px;
    margin-top: 50px;
    line-height: 1.6;
    h6 {
      margin-top: 15px;
    }
    .icons {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      transition: filter 0.3s ease-in-out;
      cursor: pointer;
      h3 {
        margin-left: 10px;
      }
    }

    .icons:hover {
      color: $websiteColor;
    }

    .socials {
      .social_icons {
        margin-right: 20px;
        transition: filter 0.3s ease-in-out;
        cursor: pointer;
      }
    }
    .social_icons:hover {
      color: $websiteColor;
    }
    p {
      margin-bottom: 20px;
    }
    .logo {
      width: 100px;
    }
    img {
      width: 80px;
      margin: 0 20px 20px 0;
      transition: filter 0.3s ease-in-out;
      cursor: pointer;
    }
    img:hover {
      filter: brightness(60%);
    }
  }
}


