@mixin circle{
    .circle{
        background: #b1af6a;
        border-radius: 50%;
        content: "";
        height: 6px;
        margin: 0 0 0 -10px;
        position: absolute;
        width: 6px;
          
      }
      
      
      .circle::before{
        content: '';
        width: 86px;
        border-bottom: 1px solid #b1af6a;
        display: block;
        position: relative;
        top: 2px;
        left: 6px;
          
      }
      .circle::after{
        content: "||";
        position: relative;
        top: -6px;
        left: 90px;
        color: #b1af6a;
      }

}



@mixin stick {
    height: 20px;
    width: 4px;
    background-color: #333;
    margin: 10px;
  }
  

@mixin cartButton{
    .cartButtons{
      margin-top: 20px;
      width: 15%;
      height: 50px;
      color: $websiteColor;
      border: 1px solid $websiteColor;
      font-size: 15px;
      font-weight: 600;
      background-color: $white;
      transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;;
  }

  .cartButtons:hover{
      background-color: $websiteColor;
      color: $white;
  }
}
  

@mixin line {
  .line{
    width: 90%;
}
}


@mixin whiteWine{
  .whiteWines{
    display: flex;
    justify-content: space-around;
    width: calc(100% - 100px);
    .insideDiv_2{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 62%;
        margin: auto 0;
        align-items: flex-end;
            h6{
                font-size: 18px;
                color: $text;
                margin-bottom: 10px;
            }
            h2{
                font-size: 25px;
                color: $text;
                font-family: Cinzel,serif;
                margin-bottom: 15px;
            }
            p{
                font-size: 18px;
                color: $text;
                margin-bottom: 30px;
                line-height: 1.5;
                text-align: flex-end;
            }
            button{
                width: 30%;
                padding: 15px;
                border: 1px solid $websiteColor;
                color: $websiteColor;
                transition: filter 0.3s ease-in-out;
                background-color: $white;
                cursor: pointer;
                    &:hover{
                        background-color: $websiteColor;
                        color: $white  
                    }
            }
    }
  }
}